In [70]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [71]:
import pandas as pd
import numpy as np

In [72]:
df=pd.read_csv("/content/drive/MyDrive/DataClean.csv")
df.head()

,Status,Age Group,Education,Industry,Location,AI Risk,Years of Experience,Monthly Salary (INR),Date Recorded
0,EMPLOYED,25_34,high school,Technology,Urban,NaN,NaN,40700.0,01-01-2023
1,EMPLOYED,18-24,Diploma,Fintech,rural,moderate,NaN,17500.0,01-02-2023
2,EMPLOYED,25_34,High School,Retail,Delhi,Low,16.0,77600.0,01-03-2023
3,UNEMPLOYED,18-24,Masters,Retail,Urban,Low,30.0,100200.0,01-04-2023
4,NaN,45-54,Diploma,Fintech,Hyderabad,low,9.0,19500.0,01-05-2023

In [73]:
df.shape

(2000, 9)

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Status                1732 non-null   object
 1   Age Group             1768 non-null   object
 2   Education             1804 non-null   object
 3   Industry              1799 non-null   object
 4   Location              1787 non-null   object
 5   AI Risk               1716 non-null   object
 6   Years of Experience   980 non-null    float64
 7   Monthly Salary (INR)  1613 non-null   float64
 8   Date Recorded         2000 non-null   object
dtypes: float64(2), object(7)
memory usage: 140.8+ KB

In [75]:
df.isnull().sum()

Status                   268
Age Group                232
Education                196
Industry                 201
Location                 213
AI Risk                  284
Years of Experience     1020
Monthly Salary (INR)     387
Date Recorded              0
dtype: int64

In [76]:
df.columns = df.columns.str.lower()
df['status'] = df['status'].str.lower()
df['ai risk'] = df['ai risk'].str.lower()
df['education'] = df['education'].str.lower()
df['industry'] = df['industry'].str.lower()
df['location'] = df['location'].str.lower()
df.tail()

,status,age group,education,industry,location,ai risk,years of experience,monthly salary (inr),date recorded
1995,employed,25-34,ph.d,finance,hyderabad,low,NaN,113000.0,6/18/2028
1996,employed,25-34,phd,tech,NaN,NaN,22.0,102200.0,6/19/2028
1997,NaN,35 - 44,masters,education,NaN,low,NaN,31600.0,6/20/2028
1998,employed,25_34,high school,retail,mumbai,high,22.0,92500.0,6/21/2028
1999,unemployed,25_34,high school,NaN,NaN,moderate,NaN,43300.0,6/22/2028

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   status                1732 non-null   object
 1   age group             1768 non-null   object
 2   education             1804 non-null   object
 3   industry              1799 non-null   object
 4   location              1787 non-null   object
 5   ai risk               1716 non-null   object
 6   years of experience   980 non-null    float64
 7   monthly salary (inr)  1613 non-null   float64
 8   date recorded         2000 non-null   object
dtypes: float64(2), object(7)
memory usage: 140.8+ KB

In [78]:
df.duplicated().sum()

np.int64(0)

In [79]:
for i in df.select_dtypes(include="object").columns:
  print(df[i].value_counts())
  print("***"*10)

status
employed      885
unemployed    847
Name: count, dtype: int64
******************************
age group
18 to 24    262
45-54       261
18-24       256
25_34       254
35 - 44     247
55+         244
25-34       244
Name: count, dtype: int64
******************************
education
high school    377
bachelors      225
masters        217
diploma        204
phd            201
bachelor's     200
ph.d           199
master         181
Name: count, dtype: int64
******************************
industry
retail        429
health        211
healthcare    207
 fintech      194
finance       194
education     193
technology    186
tech          185
Name: count, dtype: int64
******************************
location
urban        438
delhi        233
bangalore    233
suburban     231
mumbai       226
hyderabad    215
rural        211
Name: count, dtype: int64
******************************
ai risk
high        596
low         556
moderate    285
medium      279
Name: count, dtype: int64
******************************
date recorded
06-06-2028    1
06-05-2028    1
06-04-2028    1
06-03-2028    1
06-02-2028    1
             ..
01-05-2023    1
01-04-2023    1
01-03-2023    1
01-02-2023    1
01-01-2023    1
Name: count, Length: 2000, dtype: int64
******************************

In [80]:
for i in ['years of experience','monthly salary (inr)']:
  df[i].fillna(df[i].median(), inplace=True)

/tmp/ipython-input-806403697.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[i].fillna(df[i].median(), inplace=True)

In [81]:
for i in ['status','ai risk','education','industry','location']:
  df[i].fillna(df[i].mode()[0], inplace=True)

/tmp/ipython-input-4095146207.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[i].fillna(df[i].mode()[0], inplace=True)

In [82]:
df["date recorded"] = pd.to_datetime(df["date recorded"], errors='coerce')
df['age group'] = df['age group'].str.replace('_', '-')
df.head(10)

,status,age group,education,industry,location,ai risk,years of experience,monthly salary (inr),date recorded
0,employed,25-34,high school,technology,urban,high,16.0,40700.0,2023-01-01
1,employed,18-24,diploma,fintech,rural,moderate,16.0,17500.0,2023-01-02
2,employed,25-34,high school,retail,delhi,low,16.0,77600.0,2023-01-03
3,unemployed,18-24,masters,retail,urban,low,30.0,100200.0,2023-01-04
4,employed,45-54,diploma,fintech,hyderabad,low,9.0,19500.0,2023-01-05
5,unemployed,25-34,phd,tech,bangalore,high,16.0,54500.0,2023-01-06
6,employed,35 - 44,master,retail,mumbai,moderate,20.0,136500.0,2023-01-07
7,unemployed,35 - 44,master,retail,rural,low,28.0,25300.0,2023-01-08
8,employed,35 - 44,ph.d,retail,urban,medium,0.0,103600.0,2023-01-09
9,unemployed,55+,ph.d,tech,urban,high,3.0,126500.0,2023-01-10